#wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    min-width: 660px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: append-animate .3s linear;
}

.container {
    background: black;
    display: inline-block;
    border: 5px solid black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    grid-gap: 5px;
}

.cell {
    /* center the cell content */
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial;
    font-size: 3rem;
    font-weight: bold;
    background: white;
    transition: 0.5s;
}

.cell:hover {
    background-color: rgb(194, 194, 194);
    transition: 0.5s;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    animation: append-animate .3s linear;
}

@keyframes append-animate {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

button {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

.footer {
    display: flex;
    height: 30px;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 350px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}